SECRET_KEY=+9kevz++g^_ge=ntx0&#%$i^2r@qui2c6kf13r67%2y$2@==og
DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,your-backend-name.onrender.com
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://your-frontend-name.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:5173,https://your-frontend-name.vercel.app
